body
{
    font-family:futura;
    margin:0;
}

img.bg
{
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter:blur(0);
  animation-name:blurin;
  animation-duration:7s;
  opacity:0.7;
}
@keyframes blurin {
0%{filter:blur(20px);opacity:0;}
100%{filter:blur(0);opacity:0.7;}
}
.maintext
{
  font-size:1.6em;
  letter-spacing:10px;
  color:white;
  text-transform:uppercase;
  margin:5%;

}

.elbtn
{
  background-color:rgb(16, 132, 252);
  width:150px;
  height:50px;
  text-transform:uppercase;
  color:white;
  letter-spacing:3px;
  border-radius:30px;
  transition:all 0.5s;
  display: flex;
  cursor:pointer;
  justify-content: center;
  align-items: center;
}
.elbtn:hover
{
  transform:scale(1.1);
  background-color:#005970;
}

.cont
{
opacity:1;
animation-name:fadein;
animation-duration:3s;
position: absolute;
width:100%;
height:100%;
}
@keyframes fadein {
  0%{opacity:0;}
  50%{opacity:0;}
  100%{opacity:1;}
}
.guide
{
  /* background-color:rgba(13, 108, 133, 0.71);
  border:red solid 1px; */
}

.gr4
{
  height:50px;
  width:auto;
}
.gr1
{
display:flex;
justify-content: center;
height:60%;
width:auto;
align-items: center;
text-align: center;
}
.gr2
{
  display:flex;
  justify-content: center;
  height:5%;
  width:auto;
}
.gr3
{
  height:27%;
  width:auto;
}
#bbg
{
background-color:black;
position: absolute;
width:100%;
height:100%;
animation-name:fadeout;
animation-duration:5s;
z-index:-1;
}

#navbar
{
opacity:0;
background-color:black;
}
