body
{
    font-family:futura,helvetica,arial;
    margin:0;
    font-variant-ligatures: none;
}

img.bg
{
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter:blur(0);
  animation-name:blurin;
  animation-duration:7s;
  opacity:0.7;
}
img.bgnb
{
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter:blur(20px);
  z-index:-1;
  transition:0.4s;
  opacity:0;
}
@keyframes blurin {
0%{filter:blur(20px);opacity:0;}
100%{filter:blur(0);opacity:0.7;}
}
.maintext
{
  font-size:1.6em;
  letter-spacing:10px;
  color:white;
  text-transform:uppercase;
  margin:5%;

}

.elbtn
{
  background-color:rgb(16, 132, 252);
  width:150px;
  height:50px;
  text-transform:uppercase;
  color:white;
  letter-spacing:3px;
  border-radius:30px;
  transition:all 0.5s;
  cursor:pointer;
  border:none;
  font-size:1em;
  margin:0 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.elbtn_clicked
{
  background-color:rgb(247, 126, 82);
  width:150px;
  height:50px;
  text-transform:uppercase;
  color:white;
  letter-spacing:3px;
  border-radius:30px;
  transition:all 0.5s;
  cursor:pointer;
  border:none;
  font-size:1em;
  margin:0 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.elbtn_clicked:hover

{
  transform:scale(1.1);
  background-color:rgb(254, 46, 0);
}

.elbtn:hover
{
  transform:scale(1.1);
  background-color:#005970;
}

.cont
{
position: absolute;
opacity:1;
animation-name:fadein;
animation-duration:3s;
width:100%;
height:100%;
}
@keyframes fadein {
  0%{opacity:0;}
  50%{opacity:0;}
  100%{opacity:1;}
}
/* .guide
{
  background-color:rgba(13, 108, 133, 0.71);
  border:red solid 1px;
} */

.navbar
{
  z-index:5;
  position:absolute;
  height:60px;
  width:100%;
  background:rgba(0, 0, 0, 0);
  overflow: hidden;
  transition:0.4s;
}
.gr1
{
display:flex;
justify-content: center;
height:60%;
width:auto;
align-items: center;
text-align: center;
}
.gr2
{
  display:flex;
  height:25%;
  width:auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gr3
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:15%;
  width:auto;
  color:white;
  letter-spacing:4px;
  animation:fadein2 10s;
}
@keyframes fadein2 {
  0%{opacity:0;}
  60%{opacity:0;}
  100%{opacity:1;}
}
.chevron
{
  width:40px;
  height:40px;
}
#bbg
{
background-color:black;
position: fixed;
width:100%;
height:100%;
animation-name:fadeout;
animation-duration:5s;
z-index:-1;
}

#cmenu
{
  align-self: flex-start;
width:auto;
height:45px;
margin:5px;
font-size:40px;
border:rgba(255,255,255,0) solid 2px;
transition:0.2s all;
}

#cmenu:hover
{
border:rgba(255,255,255,1) solid 2px;
cursor:pointer;
}

.cont2
{
  top:100%;
  display:flex;
  position: absolute;
  color:white;
  width:100%;
  height:auto;
flex-flow: row wrap;
justify-content: space-around;
background-color:#345690;
}

.grb
{
  letter-spacing:4px;
  height:50%;
  width:30rem;
  padding:2%;
}

.row1
{
  height:auto;
  width:100%;
  display: flex;
  align-self: baseline;
}

.suba
{
font-family:helvetica;
font-weight:200;
margin:15px;
color:white;
font-size:30px;
transition:0.3s all;
}

.suba:hover
{
font-family:helvetica;
font-weight:200;
margin:15px;
color:orange;
font-size:40px;
cursor:pointer;
}
